body {
  color: white;
  background-color: #555;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}

#todo-list {
  /* border: 1px solid white; */
  text-align: left;
  width: 30%;
  margin: auto;
}

.input:hover {
  cursor: pointer;
}
