body {
  color: white;
  background-color: #555;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}

div#todo-list--container {
  margin-top: 8px;
  background-color: white;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  padding-top: 16px;
}

ul#todo-list {
  text-align: left;
  color: black;
  
}

.input:hover {
  cursor: pointer;
}

ul#todo-list > li:hover {
  cursor:pointer;
  text-decoration: line-through;
  color: gray;

}